# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = sahana
#	email = sahana.mohan96@gmail.com
[user]
	name = sahana1212
	email = sahana.mohan96@gmail.com
